@media screen and (device-width: 360px) and (device-height: 640px) and (-webkit-device-pixel-ratio: 2) and (min-width: 320px) {
  .newPatient-container {
    width: 21.5rem;
    background-color: #a5cbe2;
    margin: 1rem auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem 1rem 1rem;
  }
  .logo {
    width: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0rem 6rem 0rem 10rem;
  }
  .footerNewPatient {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0rem 6rem 0rem 1rem;
  }
  .title-form-patient {
    display: flex;
    flex-direction: column;
    margin: 2rem 2rem 1rem 5rem;
  }
  .input-div-personal {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0rem 2rem 1rem 0rem;
  }
  .input-div-medical {
    width: 10rem;
    margin: 0rem auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0rem 2rem 1rem 1rem;
  }
  .category {
    font-weight: 700;
    font-family: sans-serif;
    font-size: 10px;
  }
  .input-med {
    width: 2rem;
    display: flex;
    justify-content: center;
    margin: 5px 80px;
    border: none;
    outline: none;
    text-align: center;
    font-weight: 700;
    font-size: 10px;
    border-radius: 20px;
  }
  .value-inp {
    width: 8rem;
    display: flex;
    justify-content: center;
  }
  .med-personal-details {
    width: 10rem;
    display: flex;
    justify-content: center;
    padding: 0rem 3rem 1rem 2rem;
  }
  .med-personal-table {
    width: 15rem;
  }
  .radio-col {
    width: 0.5rem;
  }
  .question {
    width: 5rem;
  }
  .add-btn-div {
    margin: 1rem auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0rem 2rem 1rem;
  }
}
